# Byte-compiled / optimized / DLL files
*.py[cod]
.DS_Store

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
/conda

# Sphinx documentation
readthedocs.yml
docs/_build/
#docs/_static/
#docs/_templates/
#docs/.DS_Store

# Jupyter Notebook
.ipynb_checkpoints
.ipynb_checkpoints/
*.nb.html

# Python
make_index.py
examples.ipynb
de/misc.py
signatures.py
glob_eval.py

# R
.Rhistory
*.Rmd

# cache
de/__pycache__/
tests/__pycache__/
__pycache__/

# Spyder
*.spydata

# Shell
ship_to_testpypi.sh
ship_to_pypi.sh
ship_to_conda.sh
docs/make.sh
run_tests.sh

# images
test.png
