.DS_Store
ship_to_testpypi.sh
ship_to_pypi.sh
ship_to_conda.sh
example_reticulate.R
make_index.py
examples.ipynb
misc.py
signatures.py
glob_eval.py
logo.graffle
paper/*.docx
.Rhistory
test.png
.ipynb_checkpoints/
de/__pycache__/
tests/__pycache__/
__pycache__/
/build
/de.egg-info
/dist
paper/
*.bat
*.spydata
figures/
*.docx
logo.graffle
*.R
*.Rmd
*.nb.html
*.sh
