.DS_Store
make_index.py
examples.ipynb
misc.py
signatures.py
glob_eval.py
.Rhistory
test.png
.ipynb_checkpoints/
de/__pycache__/
tests/__pycache__/
paper/
*.bat
*.spydata
figures/
*.docx
*.graffle
*.R
*.Rmd
*.nb.html
